<div class="container" ng-show="isLoggedIn">
	<div ng-keyup="$event.keyCode == 13 && searchSong()"></div>
	<div class="row">
		<ul class="collection" id="targetCollection" ng-show="showResults">

			<!-- NO RESULTS STAYS HIDDEN UNLESS THE SEARCH FINDS NOTHING -->
			<div ng-show="noResults"><h4>No Results Found</h4></div>

			<!-- FOR EACH SONG THAT COMES BACK FROM SPOTIFY SEARCH -->
			<div ng-repeat="item in dataFromFB track by $index">

				<!-- BEGINNING OF FULL SONG LIST ITEM -->
				<li id="song-{{item.songID}}" ng-show="item.isFavorited">

					<!-- SPOTIFY PLAYER EMBED -->
			    	<iframe ng-src="{{'https://open.spotify.com/embed?uri=spotify:track:' + item.songID | trustAsResourceUrl }}" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
					    	
			    	<!-- FAVORITE BUTTON FOR SONGS IN FIREBASE -->
				    <a ng-click="removeFromFavorites(item); item.isFavorited=false">
				    	<i id="fav--{{song.songID}}" class="small favs right material-icons">block</i>
				    </a>
					<!-- END OF FAVORITE BUTTONS -->

					<!-- RATING STARS -->
				    <div id="rateYo--{{$index}}" class="right ratings"></div>

					<!-- COLLAPSIBLE COMMENT SECTION -->
				    <ul class="collapsible" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header">Comments</div>
					      <div class="collapsible-body">
							<div class="row">
							    <form class="col s12">
							      <div class="row">
							        <div class="input-field col s6">
							          <input placeholder="Your Name" id="first_name" type="text">
							        </div>
							      </div>
							      <div class="row">
							        <div class="col s12">
							          <div class="input-field col s12">
							            <textarea  placeholder="Your Comment" id="textarea1" class="materialize-textarea"></textarea>
							          </div>
							        </div>
							      </div>
							      <div class="row">
									<a id="submit-{{item.id}}" class="waves-effect waves-light btn blue darken-2" ng-click="submitUserSongData()">Submit</a>
							      </div>
							    </form>
						    </div>
					      </div>
					    </li>
					</ul>
					<!-- END OF COMMENT SECTION -->

			    </li>
			    <!-- END OF FULL SONG LIST ITEM -->
			</div>
		</ul>
	</div>
</div>
