<div class="container" ng-show="isLoggedIn">
	<div class="row">
	  	<!-- SEARCH BAR -->
		<form class="col s12">
		  <div class="row">
		    <div class="input-field col s12">
		      <input placeholder="Search a Grateful Dead song" id="song_search" type="text" ng-model="songSearch.song"  ng-keyup="$event.keyCode == 13 && searchSong()">
		    </div>
		    <a class="waves-effect waves-light btn blue darken-4" ng-click="searchSong()">Search</a>
		  </div>
		</form>
		<!-- END SEARCH -->
	</div>
	<div class="row">
		<ul class="collection" id="targetCollection" ng-show="showResults">
			<div ng-show="noResults"><h4>No Results Found</h4></div>
			<div ng-repeat="item in searchedSongs.items track by $index">
				<li id="song-{{item.id}}">
					<!-- SPOTIFY PLAYER EMBED -->
			    	<iframe ng-src="{{'https://open.spotify.com/embed?uri=spotify:track:' + item.id | trustAsResourceUrl }}" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>

			    	<!-- <p>{{songIDsFromFB.indexOf(searchedSongs.items[$index].id) != -1}}</p> -->

			    	<div ng-show="songIDsFromFB.indexOf(searchedSongs.items[$index].id) != -1">
						<div ng-repeat="song in dataFromFB">
					    	<!-- FAVORITE BUTTON -->
						    <a ng-click="addSongData()" ng-show="{{song.songID === item.id}}">
						    	<i id="fav--{{song.songID}}" class="small favs right material-icons">{{song.isFavorited ? 'favorite' : 'favorite_border'}}</i>
						    </a>
					    </div>
				    </div>

					<div ng-show="songIDsFromFB.indexOf(searchedSongs.items[$index].id) == -1">
					    <a ng-click="addSongData()">
					    	<i id="fav--{{song.songID}}" ng-init="favIcon='favorite_border'" ng-mouseover="'favorite'" ng-mouseout="'favorite_border'" class="small favs right material-icons">{{favIcon}}</i>
					    </a>
				    </div>

				    <div id="rateYo--{{$index}}" class="right ratings"></div>

					<!-- COLLAPSIBLE COMMENT SECTION -->
				    <ul class="collapsible" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header">Comments</div>
					      <div class="collapsible-body">
							<div class="row">
							    <form class="col s12">
							      <div class="row">
							        <div class="input-field col s6">
							          <input placeholder="Your Name" id="first_name" type="text">
							        </div>
							      </div>
							      <div class="row">
							        <div class="col s12">
							          <div class="input-field col s12">
							            <textarea  placeholder="Your Comment" id="textarea1" class="materialize-textarea"></textarea>
							          </div>
							        </div>
							      </div>
							      <div class="row">
									<a id="submit-{{item.id}}" class="waves-effect waves-light btn blue darken-2" ng-click="submitUserSongData()">Submit</a>
							      </div>
							    </form>
						    </div>
					      </div>
					    </li>
					</ul>
					<!-- END OF COMMENT SECTION -->
			    </li>
			</div>
		</ul>
	</div>
</div>
